body { 
    background-image:url('videobackground.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;

}

.contactform { 
    margin-top: 100px;
    z-index: 2;
}

