@import url('https://rsms.me/inter/inter.css');

html {    
 background-color: white;
  
}

body {
    background-color: black;
    font-family: 'Roboto Mono', sans-serif;
    letter-spacing: -1px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color:white;
    height: 7050px;
    

}


.interests,.photosheader {
    font-family: 'Inter';
    display: inline-block;
    font-size: 40px;
    border: solid;
    border-width: thick;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px
    
}

.image1 {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
}

.image2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}


.image3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image5 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image6 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image6 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image7 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image8 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.endingcomment {
    padding-top: 70px;
}

.burton, .burton2{  
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 40px;
    padding-left: 100px;
    font-family: inherit;
  
  }
  
  
  .fill {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    z-index: 100;
  }
  
  .fill::after {
    content: "";
    background-color: #fdfbfb;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.4s;
  }
  
  .fill:hover::after {
    top: 0px;
    left: 0px;
  }
  
  