@import url('https://rsms.me/inter/inter.css');

body {
    background-color: black;
    font-family: 'Roboto Mono', sans-serif;
    letter-spacing: -1px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-top: 100px;
    

}

.hobbies {
    font-family: 'Inter';
    display: inline-block;
    font-size: 20px;
    border: solid;
    border-width: thick;
    padding-left: 100px;
    padding-right: 100px
}


