@import url('https://rsms.me/inter/inter.css');

html {    
 background-color: white;
  
}

body {
    background-color: black;
    font-family: 'Roboto Mono', sans-serif;
    letter-spacing: -1px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color:white;
    height: 6950px;
    

}


.interests,.photosheader {
    font-family: 'Inter';
    display: inline-block;
    font-size: 40px;
    border: solid;
    border-width: thick;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px
    
}

.image1 {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
}

.image2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}


.image3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image5 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image6 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image6 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image7 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image8 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.endingcomment {
    padding-top: 70px;
}